<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    
    <section class="section">
        <div class="container">
        <form method="POST" action="{{ url_for('short.update') }}">
            <div class="field">
                <h1>Link Already present</h1>
                <label class="label">Original URL</label>
                <div class="control">
                    <input class="input" type="text" name="original_url" value="{{ original_url }}">
                </div>
            </div>

           
            
            
            <div class="field">
                    <label class="label">Shortened URL</label>
                    <div class="control">
                        <input class="input" type="text" name="original_url" value="{{ short_url }}">
                    </div>
            </div>

            
            <form method="GET" action="{{ url_for('short.index') }}">
                <div class="control">
                     <button type="Home" class="button is-info"  href= '../'>Register</button>
                 </div>
             </form>


        </form>
           
        </div>
    </section>
</body>

</html>